LOG_LEVEL=debug
NODE_ENV=production
# CLOUDFLARE_API_TOKEN=sWOOXN4BvyemC7-wwXu8OiTbbjFDctwOaBaB-0ro
CLOUDFLARE_ACCOUNT_ID=9a6ef2dbcd138eac121647f567a985d8
CLOUDFLARE_TUNNEL_ID=52d11bc8-b50b-4a63-af0a-549780970866
CLOUDFLARE_ZONE_ID=2b77d4360dbd4a9ccdad5c8d947323c9
PLATFORM=linux
DOCKER_PLATFORM=linux/arm64
TARGETARCH=amd64
ROOT_FOLDER_HOST=/home/bennett/Development/companion/CI-OS-Hub/.internal
INTERNAL_IP=0.0.0.0
RUNTIPI_APP_DATA_PATH=/home/bennett/Development/companion/CI-OS-Hub/.internal
APPS_REPO_ID=29ca930bfdaffa1dfabf5726336380ede7066bc53297e3c0c868b27c97282903
CI_CLOUD_URL=https://setup.companionintelligence.com
TZ=UTC
DNS_IP=9.9.9.9
ARCHITECTURE=amd64
JWT_SECRET=857ad2225d62961ba24b12ee88b4a628e1647a0c61d5113f313f56f22461d0c3
DOMAIN=companionintelligence.com
LOCAL_DOMAIN=tipi.lan
POSTGRES_HOST=ci-hub-db
POSTGRES_DBNAME=tipi
POSTGRES_USERNAME=tipi
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=6543
RABBITMQ_HOST=ci-os-hub-queue
RABBITMQ_USERNAME=tipi
RABBITMQ_PASSWORD=tipi
RUNTIPI_FORWARD_AUTH_URL=http://ci-os-hub:3000/api/auth/traefik
DEMO_MODE=false
GUEST_DASHBOARD=false
ALLOW_AUTO_THEMES=true
ALLOW_ERROR_MONITORING=false
PERSIST_TRAEFIK_CONFIG=true
QUEUE_TIMEOUT_IN_MINUTES=5
MAX_BACKUPS=10
ADVANCED_SETTINGS=true
EXPERIMENTAL_INSECURE_COOKIE=false
THEME_BASE=stone
THEME_COLOR=teal
TIPI_VERSION=4.7.0
LOCAL=false
DISABLE_PASSWORD_RESET=true
CI_HUB_API_KEY=8ecebe2b-e7c2-4d62-8fd4-e5c15cf302b7
DEVICE_ID=test-device-id24
